{% extends 'mail/mail_layout.html.twig' %}

{% block body_mail %}
<div style="padding:20px; text-align:center">
  <h1 style="font-weight:700; font-size:28px; margin-bottom:30px">Demande d'inscription réparateur</h1>
  <p style="margin-bottom:14px; font-size:14px;">Un nouveau réparateur a demandé à s'inscrire : {{ repairer.name }}</p>
  <p style="margin-bottom:14px; font-size:14px;">Adresse : {{ repairer.streetNumber }} {{ repairer.street }}, {{ repairer.city }}</p>
  <p style="margin-bottom:14px; font-size:14px;">Type de réparateur : {{ repairer.repairerType.name }}</p>
  {% if repairer.comment %}
    <p style="margin-bottom:14px; font-size:14px;">Commentaire : {{ repairer.comment }}</p>
  {% endif %}
  <p style="margin-bottom:14px; font-size:14px;">Pour consulter sa demande d'inscription et la valider : <a href="{{ repairerAdminUrl }}">cliquez ici</a></p>
</div>
{% endblock %}
