{% extends 'mail/mail_layout.html.twig' %}

{% block body_mail %}
<div style="padding:20px; text-align: center">
  <h1 style="font-weight:700; font-size:28px; margin-bottom:30px">Rendez-vous confirmé !</h1>
  <p style="margin-bottom:14px; font-size:14px;">Le {{ appointment.slotTime | date('d/m/y') }} à {{ appointment.slotTime | date('H:i') }}</p>
  <p style="margin-bottom:14px; font-size:14px;">Avec {{ appointment.repairer.name }}</p>
  <p style="margin-bottom:14px; font-size:14px;">Lieu du RDV :
                                                {% if appointment.address %}
                                                    {{ appointment.address }}
                                                {% else %}
                                                    {{ appointment.repairer.streetNumber }}
                                                    {{ appointment.repairer.street }}
                                                    {{ appointment.repairer.postcode }}
                                                    {{ appointment.repairer.city }}
                                                {% endif %}
  </p>
  <div style="text-align: center; margin-bottom:30px;">
    <table style="margin: 0 auto;">
        <tr>
        <td style="text-align: center; padding-right: 20px;">
            <a href="{{ annulationUrl }}" style="color: #fff; text-decoration: none;">
            <div style="width: fit-content; background-color: #ee721d; padding: 6px 24px; border-radius: 30px; font-size: 14px; display: inline-block;">Annuler</div>
            </a>
        </td>
        <td style="text-align: center;">
            <a href="{{ discussionUrl }}" style="color: #fff; text-decoration: none;">
            <div style="width: fit-content; background-color: #ee721d; padding: 6px 24px; border-radius: 30px; font-size: 14px; display: inline-block;">Envoyer un message</div>
            </a>
        </td>
        </tr>
    </table>
  </div>
</div>
{% endblock %}
